
.crated{
  /* clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%, 0 100%); */
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}
@font-face {
  font-family: 'BYekan';
  src: url('./Font/Yekan.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'BYekan', sans-serif;
  background-color: rgba(226, 226, 235, 0.849);
}
